header{ background-image:url('https://www.planwallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg'); background-repeat: no-repeat;}

#nav a{color:greenyellow;}

h1{color:white;font-size:50px;}
body{font-size:20px;}

.art1 {background-color: thistle; color:green ;}

.art2 {background-color:blue ; color:brown ;}
#item1{background-color:pink;color:blue}
#item2{background-color:lightblue;color:red}
footer{background-color: yellow;}

